@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&display=swap');

body {
  background: url("./img/mainBG.jpg") no-repeat center center fixed #3e510f61;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: overlay;


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
.content-card {
  min-width: 50%;
  max-width: 85%;
  color: white;
}

.keg {
  background-image: url("./img/kegBG.jpg");
  background-blend-mode: hard-light;
  font-family: 'Montagu Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
